name: Documentation

on:
  push:
    branches:
      - main

env:
  SWIFT_VERSION: 5.7

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Package
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Download Swift
        run: wget -q https://download.swift.org/swift-$SWIFT_VERSION-release/ubuntu2004/swift-$SWIFT_VERSION-RELEASE/swift-$SWIFT_VERSION-RELEASE-ubuntu20.04.tar.gz
      - name: Extract Swift
        run: tar xzf swift-$SWIFT_VERSION-RELEASE-ubuntu20.04.tar.gz
      - name: Add Swift toolchain to PATH
        run: |
          echo "$GITHUB_WORKSPACE/swift-$SWIFT_VERSION-RELEASE-ubuntu20.04/usr/bin" >> $GITHUB_PATH

      - name: Build documentation
        run: >
          swift package --allow-writing-to-directory docs \
            generate-documentation \
            --target Flow \
            --disable-indexing \
            --transform-for-static-hosting \
            --hosting-base-path /Flow \
            --output-path docs
      
      - name: Publish documentation to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@4.1.7
        with:
          branch: gh-pages
          folder: docs
          git-config-name: László Teveli
          git-config-email: tevelee@gmail.com

